@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;400;600;700&family=Ubuntu+Mono:wght@400;700&display=swap");
* {
  background-color: azure;
  font-family: "M PLUS 1 Code", sans-serif;
}
.text-past {
  color: #00ae86;
}
.text-navy {
  color: #0a192f;
}
.button-primary-outline {
  border: 1px solid #00ae86;
  padding: 8px 20px;
  border-radius: 7px;
  font-weight: 500;
}
.button-primary-outline:hover {
  background: rgba(0, 174, 133, 0.208);
}
